.first-box {
    background-color: red;
    width: 150px;
    height: 150px;
    text-align: center;
}

.second-box {
    background-color: green;
    width: 150px;
    height: 150px;
    text-align: center;
}
